@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
  
}
 

/* hero section  */

.hero{
    width: 100% ;
    min-height: 100vh;
    background-image:linear-gradient(#01485c96, #03161ca0, rgba(0, 0, 14, 0)), url("../images/homepage.jpg");
    background-position: center;
    background-size: cover;
    padding: 0px 10%;
    overflow: hidden;
}



.content{
    margin-top: 4%;
    max-width: 700px;
     animation: slideInFromRight 1s ease-out forwards;
  overflow-x: hidden;

}

.content p{
    color:white;
    font-size: 16px;
    margin:20px 0 10px;
}

.content h1{
    font-size: 60px;
    font-weight: 400;
    color:white;
}

.content h1 .higlighting{
    color:rgb(0, 204, 255);
}


.content .btn{
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    color:#fff;
    background-color: rgb(5,113,142);
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    width:170px;
    height: 38px;
    font-weight:400;
    margin-top: 20px;

}

.content .btn:hover{
   background-color: rgb(5,113,142);
   color: white;

}

.wipro{
    display: flex;
    align-items: center;
    gap: 30px;
    margin:33px 0 20px ;
    animation: slideInFromRight 1s ease-out forwards;
}
.wipro p{
    color:white;
    font-size: 15px;
    margin:0;
}

.wipro img{

    width: 150px;
    height: 90px;
}

@media(max-width:770px){
   .content{
    max-width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-top: 2px;
   }
   .content .heading{
    margin-bottom: 40px;
   }
   .content h1{
    font-size: 38px;
    line-height: 1.1;
   }

   .content .btn{
      margin: 20px auto 0;

   }
   .wipro{
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }
   .wipro img{
    width:120px;
    height: auto;
   }
   .wipro p{
    text-align: center;
   }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.about1 {
  /* background-color: #ffffff; */
  color: rgb(0, 0, 0);
  padding: 80px 10%;
  overflow-x: hidden;
  margin-top: 8%;
}

.about-inner {
  display: flex;
  align-items: center;
  gap: 40px;
  
}
.about-text {
  flex: 1;
   max-width: 700px;
 
}
.about-text h2 {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  color:#463CE1;
}

.about-text h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 20%;
  background-color:rgb(5,113,142);
}
.about-text h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.about-text h3 .words{
     color:#605BE5;

}
.about-text h3 .future{
    color:#605BE5;
}
.about-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.about-btn {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
  background-color:  rgb(5,113,142);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.about-image {
  flex: 1;
  text-align: right;
}

@media (max-width: 992px) {
  .about-inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .about-image img {
    animation-delay: 0.2s;
  }
}
video {
  width: 100%;
  height: auto;
}

 /* Carousel Container */
    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
    }

    /* Logo Row */
    .logo-carousel {
        display: flex;
        align-items: center;
        gap: 40px;
        animation: scroll 20s linear infinite;
    }

    .logo-carousel img {
        height: 60px;
        object-fit: contain;
    }

    /* Infinite scroll animation */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    /* Responsive spacing */
    @media (max-width: 768px) {
        .logo-carousel {
            gap: 20px;
        }
    }


 
/* cards */
.section-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.highlight {
    color: #7d5fff;
}
.tab-button{
     border-radius: 20px !important;
     color: white !important;
    background-color: rgb(5, 113, 142) !important;
    border: none !important;
    box-shadow: 0 4px 10px rgba(56, 56, 56, 0.414) !important;
    padding: 10px 20px !important;

}

.tab-button.active {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
}

.card img {
    border-radius: 1.5rem;
    height: 180px;
    object-fit: cover;
}

.card-body {
    text-align: left;
}

.stars {
    font-size: 1rem;
}

.course-card {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .course-card.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 0.6s ease forwards;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.card{
    border-radius: 1.5rem !important;
    box-shadow: 0 7px 9px rgba(56, 56, 56, 0.414) !important;
    text-decoration: none !important;

}
.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
    #cardcontainer {
        width: 100%;
        align-items: center;
    }
}
  

 .announcement-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 60px 40px;
      background-color: #f2f2f2;
      position: relative;
      overflow: hidden;
    }
    .announcement-text {
      flex: 1 1 500px;
      padding-right: 30px;
      padding-left: 6rem;
      z-index: 1;
    }
    .announcement-text h5 {
      color: #00a6e0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }
    .announcement-text h2 {
      font-size: 36px;
      color: #111;
      margin: 10px 0 20px;
    }
    .announcement-text p {
      font-size: 16px;
      color: #444;
      line-height: 1.6;
    }
    .recognized {
      margin-top: 30px;
      font-weight: 500;
      color: #111;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .recognized img {
      width: 100px;
      height: auto;
    }
    .announcement-image {
      flex: 1 1 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
    .announcement-image img {
      width: 100%;
      max-width: 520px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      z-index: 4;
    }
    .wip-logo{
      width: 190px !important;
    }

    /* Wave SVG styling */
    .wave-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      fill: rgb(222, 221, 221)
    }


    @media (max-width: 768px) {
      .announcement-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
      }
      .announcement-text {
        padding-right: 0;
        padding-left: 0;
        text-align: justify;
        padding: 0 30px;
      }
    }

    /* achievement section */

  .achievements-section {
  background: linear-gradient(rgba(5, 5, 69, 0.536), rgba(0, 0, 0, 0.837)), url('../images/about-sec-4.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.achievements-section .overlay {
  padding: 60px 20px;
  margin: auto;
  border-radius: 10px;
}

.achievements-section h5 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #ddd;
}

.achievements-section h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.stat {
  flex: 1 1 200px;
  min-width: 180px;
}

.stat h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.stat p {
  font-size: 16px;
  color: #ccc;
}


.learning-section {
  padding: 80px 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.learning-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.content-column {
  flex: 1 1 500px;
}

.subheading {
  color: #6c63ff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content-column h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}

.description {
  color: #555;
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.feature .icon {
  font-size: 24px;
  margin-top: 4px;
}

.feature h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.feature p {
  margin: 5px 0 0;
  color: #555;
}

.footer-note {
  color: #999;
  font-size: 14px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .learning-container {
    flex-direction: column;
    text-align: center;
  }

  /* .image-column {
    order: 2;
  } */

  .overlay-image {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .content-column {
    order: 1;
  }

  .features {
    align-items: center;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


    .image-stack {
        position: relative;
        padding-left: 2rem;
    }

    .image-stack img {
        border-radius: 40px !important;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    .image-stack .top-img {
        width: 430px;
        border: 8px solid white;
    }

    .image-stack .bottom-img {
        position: absolute;
        bottom: -30px;
        left: -10px;
        width: 250px;
        border: 10px solid white;
    }

    @media (max-width: 992px) {
        .image-stack {
            margin-top: 30px;
        }

        .image-stack .bottom-img {
            margin-top: 20px;

        }
    }

    @media (max-width: 500px) {


        .right-img {
            align-items: center;
            padding: 6px !important;
        }

        .image-stack .bottom-img {
            position: static;
            width: 430px;
        }
      }

/* certification */
   .certify-section {
      background:linear-gradient(rgba(194, 194, 195, 0.536), rgba(215, 213, 213, 0.837)), url('../images/about-dots.jpg') no-repeat center center/cover;
      padding: 60px 20px;
    }

    .carousel-item img {
      max-width: 80%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .carousel-indicators [data-bs-target] {
      background-color: #000000;
      width: 10px;
      height: 10px;
      /* border-radius: 50%; */
    }

    .certify-text h2 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    .certify-text h2 span {
      color: #7c5fff;
    }

    .certify-text p {
      font-size: 1.1rem;
      margin-top: 20px;
      color: #333;
    }

    .certify-text a {
      margin-top: 25px;
      display: inline-block;
    }
    .btn.btn-info{
      background-color: #05718E !important;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
    }

    @media (max-width: 768px) {
      .certify-section {
        text-align: center;
      }
    }


    /* 2side grid sec */
     .edtech-section {
      display: flex;
      flex-wrap: wrap;
    }

    .left-box {
      background: linear-gradient(to bottom right, #5fc5e6, #02789d);
      color: white;
      padding: 60px 40px;
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
      flex: 1;
      min-width: 320px;
    }

    .left-box h2 {
      font-size: 2.5rem;
      color: #000;
    }

    .left-box h2 span {
      color: white;
    }

    .left-box p {
      margin-top: 20px;
      font-size: 1.1rem;
    }

    .right-box {
      flex: 2;
      background:linear-gradient(rgba(35, 14, 3, 0.773), rgba(64, 18, 1, 0.652)),  url('../images/services9.jpg') no-repeat center center/cover;
      position: relative;
      display: flex;
      align-items: center;
      padding: 40px 30px;
      min-width: 320px;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
    }

    .right-box::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(30, 0, 0, 0.6); */
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      z-index: 1;
    }

    .services {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
      width: 100%;
      z-index: 2;
      position: relative;
    }

    .service-item {
      color: #fff;
      flex: 1;
      min-width: 220px;
      max-width: 300px;
      position: relative;
    }

    .service-item:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      padding-right: 20px;
    }

    .service-item i {
      color: yellow;
      font-size: 2rem;
      margin-bottom: 10px;
      display: inline-block;
    }

    .btn-custom {
      background-color: #004d66 !important;
      border: none;
      padding: 10px 25px;
      color: white !important;
      margin-top: 30px;
    }

    @media (max-width: 992px) {
      .edtech-section {
        flex-direction: column;
      }

      .right-box {
        border-top-left-radius: 0;
        border-top-right-radius: 60px;
      }

      .service-item {
        border-right: none !important;
        padding-right: 0 !important;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding-bottom: 20px;
      }

      .services {
        flex-direction: column;
        align-items: flex-start;
      }
    }


    /* testimonial */
    /* Section Styling */
.testimonial-section {
  text-align: center;
  padding: 60px 20px;
  overflow: hidden;
}

.testimonial-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
}

/* Carousel Container */
.carousel-wrapper {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: scroll 60s linear infinite;
  gap: 40px;
  width: max-content;
}

/* Each Testimonial */
.testimonial {
  width: 380px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bubble Style */
.bubble {
  background: #06a3c7;
  color: white;
  border-radius: 12px;
  padding: 30px 25px;
  position: relative;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: popUp 1s ease forwards;
  opacity: 0;
  transform: scale(0.9);
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #06a3c7;
}

/* Profile Section */
.profile {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #56d7f474;
  margin-bottom: 10px;
}

.profile .info {
  text-align: center;
}

.profile strong {
  font-size: 1rem;
  color: black;
}

.profile span {
  font-size: 0.9rem;
  color: #333;
}

.testimonial {
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}



/* Animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes popUp {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .testimonial {
    width: 85vw;
  }
}


 .pricing-section {
        padding: 60px 20px;
        text-align: center;
    }

    .pricing-section h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .pricing-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .card1 {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 320px;
        padding-bottom: 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-header {
        background: linear-gradient(to right, #00bfff, #6a11cb);
        color: white !important;
        font-weight: 300;
        padding: 10px !important;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .card-price {
        font-size: 45px;
        color: rgb(85, 85, 85);
        font-weight: 800;
        margin: 20px 0 10px;
        padding-bottom: 2rem;
    }

    .card1 ul {
        list-style: circle;
        text-align: start;
        margin: 0;
    }

    .card1 ul li {
        margin-bottom: 8px;
        font-size: 12px;
    }


    .card-footer {
        margin-top: auto;
        padding: 20px;
    }

    .card-footer a {
        background: #000;
        color: #fff;
        padding: 10px 25px;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;
        text-decoration: none;
    }

    .card-footer a:hover {
        background: #333;
    }

    @media (max-width: 768px) {
        .pricing-cards {
            flex-direction: column;
            align-items: center;
        }
    }

     .contact-heading {
        border-bottom: 3px solid #00bcd4;
        display: inline-block;
        padding-bottom: 8px;
    }

    
    .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.faq-section {
      max-width: 1400px;
      margin: auto;
    }

    .faq-title {
      color: #000;
    }

    .faq-subtitle {
      color: #1a00ff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }

    .faq-heading {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .accordion-item {
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 8px rgba(0,0,0,0.05);
      margin-bottom: 20px;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      cursor: pointer;
    }

    .accordion-header:hover {
      background: #f9f9f9;
    }

    .accordion-number {
      width: 40px;
      height: 40px;
      background: linear-gradient(135deg, #1ab0d9, #6f29ff);
      border-radius: 50%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 15px;
    }

    .accordion-question {
      flex-grow: 1;
      font-size: 17px;
      font-weight: 500;
    }

    .accordion-icon {
      font-size: 20px;
      color: #888;
      transition: transform 0.3s ease;
    }

    .accordion-icon.rotate {
      transform: rotate(180deg);
      color: #00bcd4;
    }

    .accordion-body {
      padding: 0 30px 20px 80px;
      font-size: 15px;
      text-align: center;
      color: #555;
      display: none;
    }

    .accordion-body.active {
      display: block;
    }

    @media(max-width: 600px) {
      .accordion-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .accordion-body {
        padding-left: 30px;
      }
    }

    /* icon sec */
    
    .features-section {
      background:  radial-gradient(circle,rgba(247, 247, 247, 1) 0%, rgba(129, 47, 245, 1) 100%);
      padding: 180px 20px;
      text-align: center;
      margin-top: -9rem;
    }

    @media(max-width: 1440px){
      .features-section{
         margin-top: -8rem;

      }
    }
     @media(max-width: 1288px){
      .features-section{
         margin-top: -7rem;

      }
    }
     @media(max-width: 1121px){
      .features-section{
         margin-top: -6rem;

      }
    }
      @media(max-width: 964px){
      .features-section{
         margin-top: -5rem;

      }
    }
      @media(max-width: 803px){
      .features-section{
         margin-top: -4rem;

      }
    }
      @media(max-width: 646px){
      .features-section{
         margin-top: -3rem;

      }
    }
      @media(max-width: 480px){
      .features-section{
         margin-top: -2.2rem;

      }
    }
     @media(max-width: 346px){
      .features-section{
         margin-top: -2rem;

      }
    }

    .features-heading {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .features-subheading {
      font-size: 16px;
      max-width: 800px;
      margin: 0 auto 60px;
      line-height: 1.6;
    }

    .features-grid {
      display: none;
    }

    .feature-item {
      max-width: 900px;
      margin: 0 auto 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .feature-text {
      flex: 1;
      font-size: 15px;
    }

    .feature-text h3 {
      color: #00788C;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .icon-box {
      background-color: #006d77;
      color: #fff;
      width: 50px;
      height: 50px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      transform: rotate(45deg);
      flex-shrink: 0;
    }

    .icon-box i {
      transform: rotate(-45deg);
    }

    .reverse {
      flex-direction: row-reverse;
      text-align: right;
    }

    @media (max-width: 768px) {
      .features-grid {
        display: none;
      }

      .feature-item {
        flex-direction: row;
        text-align: right;
      }

      .reverse {
        flex-direction: row;
        text-align: left;
      }

      .icon-box {
        margin-bottom: 10px;
      }
    }

    @media (min-width: 769px) {
      .features-mobile {
        display: none;
      }

      .features-grid {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        gap: 20px;
        max-width: 1100px;
        margin: auto;
        text-align: left;
      }

      .features-grid .icon-box {
        margin: 20px auto;
      }

      .features-grid .text-left {
        text-align: right;
        padding-right: 10px;
      }

      .features-grid .text-right {
        text-align: left;
        padding-left: 10px;
      }

      .features-grid h3 {
        color: #00788C;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .features-grid p {
        font-size: 15px;
        color: #000;
        margin: 0;
      }
    }
    